
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
.vscode
.yarn

*/**/.rollup.cache
lerna-debug.log
.editorconfig
test-ledger
*/**/bin
*/**/log

# build folders
*/**/public
*/**/dist
*/**/build*

*.txt