
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
.vscode

## YArn 
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*/**/.rollup.cache
lerna-debug.log
.editorconfig
test-ledger
*/**/bin
*/**/log

# build folders
*/**/public
!packages/app/public
*/**/dist*
*/**/build*

*.txt