.container{
    padding:5rem;
    display: flex;
    justify-content: center;
}

.action-container {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 5rem;
    padding-left: 5rem;
    border-radius: 10px;
    background-color: $sure-blue-2;
}

.action-container-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}