.action-container-inner-content {
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin-bottom: 1rem;

	&--centered {
		@extend .action-container-inner-content;
		justify-content: center;
		align-items: center;
	}

	&--form {
		display: flex;
		flex-direction: column;
		justify-content: center;
        margin-bottom: 20px;
	}

	&--row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		&_centered {
			@extend .action-container-inner-content--row;
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;
			justify-content: center;
			align-items: center;
		}

        @media(max-width: $small) {
            flex-direction: column;
            align-items: center;
            justify-content: column;
            
        }
	}
    // multiple items in one row 
    &--item{
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
}

.sure-buy-insurance-selectors {
	display: flex;
	flex-grow: 2;
	margin-bottom: 2rem;
	border-radius: 5px;
	margin-right: 1rem;
	flex-grow: 2;
	padding: 4px;
	display: flex;
	flex-direction: column;
	width: fit-content;

	&--horisontal {
		@extend .sure-buy-insurance-selectors;
		flex: 1 0 auto;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: row;
	}
}

.sure-buy-insurance-selector {
	border-radius: 5px;
	&--date {
		@extend .sure-buy-insurance-selector;
		background-color: $sure-blue-4;
        border-radius: 5px;
        border-width: 1px;
        border-color: transparent;
        padding: 10px;
        text-align: center;
        color: $sure-white;
        &:focus {
            outline: none;
        }
	}
}

.sure-token {
	width: fit-content;
	margin-right: 10px;

	&--name {
		@extend .sure-token;
	}
}

.sure-button-default {
	background-color: $sure-blue-4;
	color: $sure-white;
	cursor: pointer;
	border-radius: 5px;
	border-width: 1px;
	border-color: transparent;
	padding: 5px;
}

.icon-small {
	width: 20px;
	height: 20px;

	&--white {
		@extend .icon-small;
	}
}

.sure-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

/// Insurance change
.sure-buy-insurance-change {
	display: flex;
	flex-direction: row;
	&__status {
		padding: 5px;
		display: flex;
		flex-direction: column;
	}

	&__amount {
		justify-content: center;
		align-items: flex-end;
		padding: 5px;
		display: flex;
		flex-direction: column;
	}

	&__date {
		padding: 5px;
		display: flex;
		flex-direction: column;
	}
}
