.input-number-field{
	background-color: $sure-blue-4;
    color: $sure-white;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
    border-color: transparent;
    padding: 5px;

    flex-grow: 2;
    text-align: right;
    background-color: transparent;
    font-family: 'arvo-bold';

    &:focus {
        outline: none;
    }
}

.input-text-field{
    background-color: $sure-blue-2;
    color: $sure-white;
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
    border-color: transparent;
    padding: 5px;

    flex-grow: 2;
    text-align: left;
    background-color: transparent;
    font-family: 'arvo-bold';

    &:focus {
        outline: none;
    }
}