
.sure-main-button{
    background-color: $sure-purple;
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    padding-left: 5rem;
    padding-right: 5rem;
    width:fit-content;
    cursor: pointer;

    &:hover{
        background-color: $sure-dark-purple;
    }
    
}